<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online Association Miner</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</head>
<body>
<div align="center">
    <div class="heading">
        <h1>Online Association Miner</h1>
    </div>
    <div class="info">
        <h2>Usage Instructions</h2>
        <p>This is an explanation on how to use this app, as well as what support and confidence are.</p>
    </div>
    <div class="form">
        <form method=post enctype=multipart/form-data>
            {{ form.hidden_tag() }}
            <table class="formTable">
                <tr>
                    <td class="label">{{ form.transactions_file.label }}</td>
                    <td class="empty"></td>
                    <td class="input">
                        {{ form.transactions_file }}
                        <button id="trans_file_nice_button" name="trans_file_nice_button">Choose File</button>
                        <span id="selected_file_name"></span>
                    </td>
                </tr>
                <tr class="empty"></tr>
                <tr>
                    <td class="label">{{ form.support.label }}</td>
                    <td class="empty"></td>
                    <td class="input">{{ form.support(size=10) }}</td>
                    <td class="error">
                        {% for error in form.support.errors %}
                        <span class="formError">[{{ error }}]</span><br>
                        {% endfor %}
                    </td>
                </tr>
                <tr class="empty"></tr>
                <tr>
                    <td class="label">{{ form.confidence.label }}</td>
                    <td class="empty"></td>
                    <td class="input">{{ form.confidence(size=10) }}</td>
                    <td class="error">
                        {% for error in form.confidence.errors %}
                        <span class="formError">[{{ error }}]</span><br>
                        {% endfor %}
                    </td>
                </tr>
            </table>
            <p id="uploadButton">{{ form.submit() }}</p>
        </form>
    </div>
</div>
</body>
</html>
